
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Press Start 2P", sans-serif;
    --title-wght: 700;
    --text-wght: 400;
    --back-color: #fff;
    --accent-color: #000;
    --hover-accent-color: rgba(0, 0, 0, 0.6);
}